langchain==0.3.27
langchain-postgres==0.0.15
langchain-community==0.3.29
langgraph==0.6.6
langgraph-prebuilt==0.6.4
# langchain-google-vertexai==2.0.28
langchain-google-genai==2.1.10
google-genai==1.32.0
sqlalchemy==2.0.43
langchain-mcp-adapters==0.1.9
langfuse==3.3.4